Repository controlplaneio/simulator, changes with the owners that CODEOWNERS names for each.
All owners: @kubernetes-simulator/simulator, @s-irvine, @pi-unnerup, @abdullahgarcia, @raoulmillas, @jondkent

fix(perturb): invert status codes for pod check to improve readability
  simulation-scripts/perturb.sh
Owners: @kubernetes-simulator/simulator

fix(attack): update colours in attack container for light terminals
  attack/scripts/bashrc
Owners: @raoulmillas, @jondkent

feat: infra.go errors on err assignment
  cmd/infra.go
  cmd/init.go
Owners: @raoulmillas, @jondkent, @abdullahgarcia

fix(scen): add shebangs to scripts for shellcheck
  simulation-scripts/scenario/node-amphibious-operations/workers-every.sh
  simulation-scripts/test-func.sh
Owners: @s-irvine, @pi-unnerup, @abdullahgarcia, @kubernetes-simulator/simulator

feat: finalised aws tf vars
  cmd/infra.go
  cmd/init.go
  terraform/deployments/AWS/main.tf
  terraform/deployments/AWS/terraform.tfvars
  terraform/deployments/AWS/variables.tf
Owners: @raoulmillas, @jondkent, @abdullahgarcia, @s-irvine

feat: delete s3.tfvars file, replaces with terraform.tfvars
  terraform/deployments/AWS/s3.tfvars
Owners: @s-irvine, @raoulmillas, @jondkent

fix: make tfvars easier to read
  terraform/deployments/AWS/main.tf
  terraform/deployments/AWS/terraform.tfvars
Owners: @s-irvine, @raoulmillas, @jondkent

fix: terraform fmt fix
  terraform/deployments/AWS/main.tf
Owners: @s-irvine, @raoulmillas, @jondkent

fix(github): remove broken issue assignment action
  .github/workflows/in-progress.yml
Owners: @kubernetes-simulator/simulator

feat(scen): Add descriptions to each scenario
  cmd/scenario.go
  pkg/scenario/scenario.go
  simulation-scripts/scenario/rbac-shoot-and-scoot/apply/scenario.yaml
  simulation-scripts/scenario/rbac-shoot-and-scoot/challenge.txt
  simulation-scripts/scenario/rbac-shoot-and-scoot/tasks.yaml
  simulation-scripts/scenarios.yaml
Owners: @raoulmillas, @jondkent, @abdullahgarcia, @s-irvine, @pi-unnerup, @kubernetes-simulator/simulator

doc: rephrase descriptions
  simulation-scripts/scenarios.yaml
Owners: @kubernetes-simulator/simulator

doc: minor grammar fixes
  simulation-scripts/scenario/rbac-shoot-and-scoot/challenge.txt
  simulation-scripts/scenario/rbac-shoot-and-scoot/tasks.yaml
Owners: @s-irvine, @pi-unnerup, @abdullahgarcia

docs: add ?
  simulation-scripts/scenario/rbac-shoot-and-scoot/challenge.txt
Owners: @s-irvine, @pi-unnerup, @abdullahgarcia

docs: fix capitalisation
  simulation-scripts/scenarios.yaml
Owners: @kubernetes-simulator/simulator

feat(go): Change timestamp from Epoc to ISO0860 for human readability
  cmd/logger.go
Owners: @raoulmillas, @jondkent, @abdullahgarcia

feat: no write to providers.tf
  pkg/simulator/terraform.go
  pkg/simulator/terraform_test.go
  pkg/simulator/terraform_vars.go
  terraform/deployments/AWS/providers.tf
Owners: @raoulmillas, @jondkent, @abdullahgarcia, @s-irvine

chore: formatting makefile
  Makefile
Owners: @s-irvine, @raoulmillas, @pi-unnerup, @jondkent

fix: disable go module proxy and sumdb
  Makefile
  go.mod
  go.sum
Owners: @s-irvine, @raoulmillas, @pi-unnerup, @jondkent, @kubernetes-simulator/simulator

build(go): enable static analysis of go code
  Dockerfile
  Makefile
Owners: @s-irvine, @raoulmillas, @pi-unnerup, @jondkent

docs(go): add code report badge
  README.md
Owners: @kubernetes-simulator/simulator

feat: whereis var declared
  cmd/infra.go
  pkg/simulator/terraform.go
  terraform/deployments/AWS/terraform.tfvars
Owners: @raoulmillas, @jondkent, @abdullahgarcia, @s-irvine

fix: only init works with var
  pkg/simulator/terraform.go
  terraform/deployments/AWS/variables.tf
Owners: @raoulmillas, @jondkent, @abdullahgarcia, @s-irvine

fix: needs testing fix
  pkg/simulator/terraform.go
  pkg/simulator/terraform_vars.go
  pkg/simulator/terraform_vars_test.go
  terraform/deployments/AWS/main.tf
  terraform/deployments/AWS/variables.tf
Owners: @raoulmillas, @jondkent, @abdullahgarcia, @s-irvine

feat: tests passing
  pkg/simulator/terraform_test.go
  pkg/simulator/terraform_vars_test.go
Owners: @raoulmillas, @jondkent, @abdullahgarcia

fix: remove commented s3vars section
  cmd/infra.go
Owners: @raoulmillas, @jondkent, @abdullahgarcia

fix: terraform fmt
  terraform/deployments/AWS/variables.tf
Owners: @s-irvine, @raoulmillas, @jondkent

fix: flag is arg and remove unnecessary comments
  pkg/simulator/terraform.go
  terraform/deployments/AWS/providers.tf
Owners: @raoulmillas, @jondkent, @abdullahgarcia, @s-irvine

fix: terraform fmt
  terraform/deployments/AWS/variables.tf
Owners: @s-irvine, @raoulmillas, @jondkent

feat: tests passing
  pkg/simulator/terraform_test.go
  pkg/simulator/terraform_vars_test.go
Owners: @raoulmillas, @jondkent, @abdullahgarcia

fix: remove commented s3vars section
  cmd/infra.go
Owners: @raoulmillas, @jondkent, @abdullahgarcia

fix: needs testing fix
  pkg/simulator/terraform.go
  pkg/simulator/terraform_vars.go
  pkg/simulator/terraform_vars_test.go
  terraform/deployments/AWS/main.tf
  terraform/deployments/AWS/variables.tf
Owners: @raoulmillas, @jondkent, @abdullahgarcia, @s-irvine

fix: flag is arg and remove unnecessary comments
  pkg/simulator/terraform.go
  terraform/deployments/AWS/providers.tf
Owners: @raoulmillas, @jondkent, @abdullahgarcia, @s-irvine

fix: only init works with var
  pkg/simulator/terraform.go
  terraform/deployments/AWS/variables.tf
Owners: @raoulmillas, @jondkent, @abdullahgarcia, @s-irvine

feat: whereis var declared
  cmd/infra.go
  pkg/simulator/terraform.go
  terraform/deployments/AWS/terraform.tfvars
Owners: @raoulmillas, @jondkent, @abdullahgarcia, @s-irvine

feat: no write to providers.tf
  pkg/simulator/terraform.go
  pkg/simulator/terraform_test.go
  pkg/simulator/terraform_vars.go
  terraform/deployments/AWS/providers.tf
Owners: @raoulmillas, @jondkent, @abdullahgarcia, @s-irvine

Correct extra space and format.
  attack/scripts/bashrc
Owners: @raoulmillas, @jondkent

Correct typos and add "starting_point" message.
  attack/scripts/bashrc
Owners: @raoulmillas, @jondkent

feat(build): use golangci-lint for static analysis
  Dockerfile
  Makefile
  go.sum
Owners: @s-irvine, @raoulmillas, @pi-unnerup, @jondkent, @kubernetes-simulator/simulator

fix: all static analysis bugs - lots of error handling
  cmd/config.go
  cmd/init.go
  cmd/root.go
  cmd/scenario.go
  cmd/ssh.go
  cmd/version.go
  pkg/scenario/scenario.go
  pkg/simulator/launch.go
  pkg/simulator/remote_state.go
  pkg/simulator/ssh.go
  pkg/simulator/terraform_output.go
  pkg/ssh/ssh.go
  pkg/util/run.go
  pkg/util/util.go
  pkg/util/util_test.go
Owners: @raoulmillas, @jondkent, @abdullahgarcia

feat: run static analysis on everything
  Makefile
Owners: @s-irvine, @raoulmillas, @pi-unnerup, @jondkent

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo, unless a later match takes precedence.

* @kubernetes-simulator/simulator

# Scenarios
/simulation-scripts/scenario @s-irvine @pi-unnerup @abdullahgarcia

# Terraform
/terraform @s-irvine @raoulmillas @jondkent

# Tools
/tools @raoulmillas @abdullahgarcia

# Attack Container
/attack @raoulmillas @jondkent

# Simulator Binaries
/cmd @raoulmillas @jondkent @abdullahgarcia
/pkg @raoulmillas @jondkent @abdullahgarcia

# kubesim
/kubesim @s-irvine @raoulmillas

# Build Files
/Dockerfile @s-irvine @raoulmillas @pi-unnerup @jondkent
/Jenkinsfile @raoulmillas @jondkent
/Makefile @s-irvine @raoulmillas @pi-unnerup @jondkent
