Repository controlplaneio/simulator, changes with the owners that CODEOWNERS names for each.
All owners: @kubernetes-simulator/simulator, @s-irvine, @pi-unnerup, @abdullahgarcia, @raoulmillas, @jondkent

feat(build): use golangci-lint for static analysis
  Dockerfile
  Makefile
  go.sum
Owners: @s-irvine, @raoulmillas, @pi-unnerup, @jondkent, @kubernetes-simulator/simulator

fix: pertub logging for scenario output
  simulation-scripts/perturb.sh
Owners: @kubernetes-simulator/simulator

feat(perturb): use bash named file descriptors
  simulation-scripts/perturb.sh
Owners: @kubernetes-simulator/simulator

chore(perturb): rename function for readability
  simulation-scripts/perturb.sh
Owners: @kubernetes-simulator/simulator

fix(perturb): move fd out of sub shell
  simulation-scripts/perturb.sh
Owners: @kubernetes-simulator/simulator

fix: master-bait-and-bleed to master-shell-scrape
  README.md
  simulation-scripts/scenario/master-shell-scrape/apply/network.yaml
  simulation-scripts/scenario/master-shell-scrape/challenge.txt
  simulation-scripts/scenario/master-shell-scrape/master.sh
  simulation-scripts/scenario/master-shell-scrape/tasks.yaml
  simulation-scripts/scenarios.yaml
Owners: @kubernetes-simulator/simulator, @s-irvine, @pi-unnerup, @abdullahgarcia

fix: all static analysis bugs - lots of error handling
  cmd/config.go
  cmd/init.go
  cmd/root.go
  cmd/scenario.go
  cmd/ssh.go
  cmd/version.go
  pkg/scenario/scenario.go
  pkg/simulator/launch.go
  pkg/simulator/remote_state.go
  pkg/simulator/ssh.go
  pkg/simulator/terraform_output.go
  pkg/ssh/ssh.go
  pkg/util/run.go
  pkg/util/util.go
  pkg/util/util_test.go
Owners: @raoulmillas, @jondkent, @abdullahgarcia

feat: run static analysis on everything
  Makefile
Owners: @s-irvine, @raoulmillas, @pi-unnerup, @jondkent

feat(build): re-enable go module proxy
  Makefile
Owners: @s-irvine, @raoulmillas, @pi-unnerup, @jondkent

fix(go): remove all unneeded module dependencies
  go.mod
  go.sum
Owners: @kubernetes-simulator/simulator

feat(build): consolidate RUN commands in docker build
  Dockerfile
Owners: @s-irvine, @raoulmillas, @pi-unnerup, @jondkent

feat(build): consolidate dependency installations
  Dockerfile
Owners: @s-irvine, @raoulmillas, @pi-unnerup, @jondkent

feat(build): Use official latest golang
  Dockerfile
  go.sum
Owners: @s-irvine, @raoulmillas, @pi-unnerup, @jondkent, @kubernetes-simulator/simulator

Starting Point - Part I
  attack/scripts/bashrc
Owners: @raoulmillas, @jondkent

Fix
  attack/scripts/bashrc
Owners: @raoulmillas, @jondkent

chore: add attack bashrc to shellcheck action
  .github/workflows/shellcheck.yml
Owners: @kubernetes-simulator/simulator

fix: captialisation
  .github/workflows/shellcheck.yml
Owners: @kubernetes-simulator/simulator

Update.
  attack/scripts/bashrc
Owners: @raoulmillas, @jondkent

feat: add tfvars directory
  Makefile
  cmd/infra.go
  cmd/root.go
  cmd/scenario.go
  cmd/ssh.go
  pkg/simulator/launch.go
  pkg/simulator/ssh.go
  pkg/simulator/terraform.go
  pkg/simulator/terraform_vars.go
  pkg/simulator/terraform_vars_test.go
Owners: @s-irvine, @raoulmillas, @pi-unnerup, @jondkent, @abdullahgarcia

docs: document ip detection process
  docs/IP-Detection.md
Owners: @kubernetes-simulator/simulator

Update
  Dockerfile
  attack/Dockerfile
  attack/scripts/bashrc
Owners: @s-irvine, @raoulmillas, @pi-unnerup, @jondkent

docs: add steps for reconfiguring the sg ip
  docs/IP-Detection.md
Owners: @kubernetes-simulator/simulator

Update
  Dockerfile
Owners: @s-irvine, @raoulmillas, @pi-unnerup, @jondkent

refctor(go): introduce functional module pattern skeleton
  Makefile
  cmd/infra.go
  cmd/ssh.go
  go.sum
  pkg/simulator/launch.go
  pkg/simulator/simulator.go
  pkg/simulator/ssh.go
  pkg/simulator/ssh_test.go
  pkg/simulator/terraform.go
  pkg/simulator/terraform_test.go
  pkg/ssh/ssh_test.go
Owners: @s-irvine, @raoulmillas, @pi-unnerup, @jondkent, @abdullahgarcia, @kubernetes-simulator/simulator

chore: standardise bashrc for simulator terminals
  .github/workflows/terraform-fmt.yml
  Dockerfile
  attack/scripts/bashrc
  launch-files/bashrc
  terraform/README.md
  terraform/deployments/AWS/main.tf
  terraform/deployments/AWS/output.tf
  terraform/modules/AWS/Bastion/bashrc
  terraform/modules/AWS/Bastion/cloud-config.tf
  terraform/modules/AWS/Bastion/cloud-config.yaml
  terraform/modules/AWS/Bastion/variables.tf
  terraform/modules/AWS/InternalHost/README-auto.md
  terraform/modules/AWS/InternalHost/bashrc
  terraform/modules/AWS/InternalHost/goss.yaml
  terraform/modules/AWS/InternalHost/internal-config.tf
  terraform/modules/AWS/InternalHost/internal-config.yaml
  terraform/modules/AWS/InternalHost/main.tf
  terraform/modules/AWS/InternalHost/output.tf
  terraform/modules/AWS/InternalHost/test.tf
  terraform/modules/AWS/InternalHost/variables.tf
  terraform/modules/AWS/InternalNode/output.tf
  terraform/modules/AWS/Kubernetes/bashrc
  terraform/modules/AWS/Kubernetes/master-cloud-config.tf
  terraform/modules/AWS/Kubernetes/master-cloud-config.yaml
  terraform/modules/AWS/Kubernetes/node-cloud-config.tf
  terraform/modules/AWS/Kubernetes/node-cloud-config.yaml
  test/fixtures/noop-tf-dir/main.tf
Owners: @kubernetes-simulator/simulator, @s-irvine, @raoulmillas, @pi-unnerup, @jondkent

fix(perturb): clean up .kubesim files correctly
  simulation-scripts/perturb.sh
Owners: @kubernetes-simulator/simulator

chore: fix indent
  simulation-scripts/perturb.sh
Owners: @kubernetes-simulator/simulator

fix: use cleaner bash builtin to test wildcard
  simulation-scripts/perturb.sh
Owners: @kubernetes-simulator/simulator

progress: Unknown issues atm
  cmd/infra.go
  cmd/scenario.go
  cmd/ssh.go
  pkg/simulator/launch.go
  pkg/simulator/simulator.go
  pkg/simulator/ssh.go
  pkg/simulator/terraform.go
  pkg/simulator/terraform_test.go
Owners: @raoulmillas, @jondkent, @abdullahgarcia

feat: test new jenkins creds
  Jenkinsfile
Owners: @raoulmillas, @jondkent

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo, unless a later match takes precedence.

* @kubernetes-simulator/simulator

# Scenarios
/simulation-scripts/scenario @s-irvine @pi-unnerup @abdullahgarcia

# Terraform
/terraform @s-irvine @raoulmillas @jondkent

# Tools
/tools @raoulmillas @abdullahgarcia

# Attack Container
/attack @raoulmillas @jondkent

# Simulator Binaries
/cmd @raoulmillas @jondkent @abdullahgarcia
/pkg @raoulmillas @jondkent @abdullahgarcia

# kubesim
/kubesim @s-irvine @raoulmillas

# Build Files
/Dockerfile @s-irvine @raoulmillas @pi-unnerup @jondkent
/Jenkinsfile @raoulmillas @jondkent
/Makefile @s-irvine @raoulmillas @pi-unnerup @jondkent
