Repository controlplaneio/simulator, changes with the owners that CODEOWNERS names for each.
All owners: @kubernetes-simulator/simulator, @s-irvine, @pi-unnerup, @abdullahgarcia, @raoulmillas, @jondkent

refactor: added check for existense of scenario directory
  simulation-scripts/perturb.sh
Owners: @kubernetes-simulator/simulator

refactor: added code changes as per refactor feedback
  simulation-scripts/perturb.sh
Owners: @kubernetes-simulator/simulator

doc: updated
  docs/vision-statement.md
Owners: @kubernetes-simulator/simulator

Revert "feat(infra): tag AWS resources with the simulator bucket name"
  terraform/deployments/AWS/main.tf
  terraform/deployments/AWS/providers.tf
Owners: @s-irvine, @raoulmillas, @jondkent

fix(tf): revert #96 as it was preventing tf init for new state
  terraform/deployments/AWS/main.tf
  terraform/deployments/AWS/providers.tf
Owners: @s-irvine, @raoulmillas, @jondkent

doc: add controlplane team to VS
  docs/vision-statement.md
Owners: @kubernetes-simulator/simulator

fix(scen): minor hints update and do not check keys for attack ssh functions
  attack/scripts/bashrc
  simulation-scripts/scenario/network-hammer-and-anvil/challenge.txt
  simulation-scripts/scenario/network-hammer-and-anvil/tasks.yaml
Owners: @raoulmillas, @jondkent, @s-irvine, @pi-unnerup, @abdullahgarcia

fix: can init with new bucket
  scripts/validate-requirements
  terraform/deployments/AWS/providers.tf
Owners: @kubernetes-simulator/simulator, @s-irvine, @raoulmillas, @jondkent

fix: revert providers
  terraform/deployments/AWS/providers.tf
Owners: @s-irvine, @raoulmillas, @jondkent

feat(tf): add kubectl config to internal node and update attack helpers
  attack/scripts/bashrc
  simulation-scripts/scenario/node-shock-tactics/challenge.txt
  terraform/deployments/AWS/main.tf
  terraform/modules/AWS/Bastion/cloud-config.tf
  terraform/modules/AWS/Bastion/cloud-config.yaml
  terraform/modules/AWS/Bastion/variables.tf
  terraform/modules/AWS/InternalNode/internal-config.tf
  terraform/modules/AWS/InternalNode/internal-config.yaml
  terraform/modules/AWS/InternalNode/main.tf
  terraform/modules/AWS/InternalNode/variables.tf
  terraform/modules/AWS/Kubernetes/master-cloud-config.yaml
  test/smoke.expect
Owners: @raoulmillas, @jondkent, @s-irvine, @pi-unnerup, @abdullahgarcia, @kubernetes-simulator/simulator

refactor: reduce number of ssh remote execute commands as per review feedback
  simulation-scripts/perturb.sh
Owners: @kubernetes-simulator/simulator

refactor: removed duplicate checking for SCENRIO_DIR as per review
  simulation-scripts/perturb.sh
Owners: @kubernetes-simulator/simulator

feat: make validate-req more portable
  scripts/validate-requirements
Owners: @kubernetes-simulator/simulator

fix: double quotes
  scripts/validate-requirements
Owners: @kubernetes-simulator/simulator

fix: shellcheck is happy
  scripts/validate-requirements
Owners: @kubernetes-simulator/simulator

feat(peturb): allow peturb to template pod names, IPs and host IPs
  docs/create-scenario.md
  simulation-scripts/perturb.sh
Owners: @kubernetes-simulator/simulator

docs: clarity update for the new templating tags
  docs/create-scenario.md
Owners: @kubernetes-simulator/simulator

feat(perturb): add locking to ensure perturb only run once against a cluster
  simulation-scripts/perturb.sh
Owners: @kubernetes-simulator/simulator

refactor(perturb): removed unused IS_TEST_ONLY variable and various tests
  simulation-scripts/perturb.sh
Owners: @kubernetes-simulator/simulator

Correct scenario list output.
  cmd/scenario.go
Owners: @raoulmillas, @jondkent, @abdullahgarcia

feat(github): Actions and linters for PRs
  .github/workflows/hadolint.yml
  .github/workflows/in-progress.yml
  .github/workflows/shellcheck.yml
  .github/workflows/stale.yml
  .github/workflows/terraform-fmt.yml
  .github/workflows/terraform-validate.yml
  .hadolint.yaml
  terraform/deployments/AWS/main.tf
  terraform/modules/AWS/Bastion/test.tf
  terraform/modules/AWS/S3Storage/main.tf
Owners: @kubernetes-simulator/simulator, @s-irvine, @raoulmillas, @jondkent

fix(github): yaml formatting for tf fmt action
  .github/workflows/terraform-fmt.yml
Owners: @kubernetes-simulator/simulator

fix(github): add required env var for tf validation action
  .github/workflows/terraform-validate.yml
Owners: @kubernetes-simulator/simulator

fix(github): remove tf validate action as it requires creds
  .github/workflows/terraform-validate.yml
Owners: @kubernetes-simulator/simulator

chore(github): standardise capitalisation
  .github/workflows/hadolint.yml
  .github/workflows/shellcheck.yml
Owners: @kubernetes-simulator/simulator

chore(github): remove extra comments
  .github/workflows/shellcheck.yml
Owners: @kubernetes-simulator/simulator

fix(go+peturb): reduce log output for expected double perturb errors
  pkg/simulator/launch.go
  simulation-scripts/perturb.sh
Owners: @raoulmillas, @jondkent, @abdullahgarcia, @kubernetes-simulator/simulator

fix(go): update logger from info to error
  pkg/simulator/launch.go
Owners: @raoulmillas, @jondkent, @abdullahgarcia

fix(go+perturb): use a unique exit code from perturb
  pkg/simulator/launch.go
  simulation-scripts/perturb.sh
Owners: @raoulmillas, @jondkent, @abdullahgarcia, @kubernetes-simulator/simulator

feat: write bucket to vars file, not done
  cmd/init.go
  terraform/deployments/AWS/s3.tfvars
Owners: @raoulmillas, @jondkent, @abdullahgarcia, @s-irvine

feat: try to add s3 bucket var
  cmd/init.go
Owners: @raoulmillas, @jondkent, @abdullahgarcia

feat(perturb): major refactor of perturb to limit useless output
  pkg/simulator/perturb.go
  pkg/simulator/perturb_test.go
  simulation-scripts/perturb.sh
  simulation-scripts/test-func.sh
Owners: @raoulmillas, @jondkent, @abdullahgarcia, @kubernetes-simulator/simulator

feat: partially functioning commit
  cmd/init.go
  terraform/deployments/AWS/variables.tf
Owners: @raoulmillas, @jondkent, @abdullahgarcia, @s-irvine

feat(scen): remove redirects from scenarios as it is handled by perturb
  simulation-scripts/scenario/etcd-inverted-wedge/master.sh
  simulation-scripts/scenario/master-encirclement/master.sh
  simulation-scripts/scenario/node-amphibious-operations/workers-every.sh
  simulation-scripts/scenario/policy-fire-support/workers-every.sh
  simulation-scripts/scenario/secret-high-ground/workers-every.sh
Owners: @s-irvine, @pi-unnerup, @abdullahgarcia

feat(perturb): unify connection checking functions into one function
  simulation-scripts/perturb.sh
Owners: @kubernetes-simulator/simulator

feat: write to bucket
  cmd/init.go
Owners: @raoulmillas, @jondkent, @abdullahgarcia

feat(perturb): actually test pods for readiness instead of sleeping
  simulation-scripts/perturb.sh
Owners: @kubernetes-simulator/simulator

fix(perturb): make perturb shellcheck compliant
  simulation-scripts/perturb.sh
Owners: @kubernetes-simulator/simulator

fix(github): remove shellcheck severity flag as #133 will fix perturb
  .github/workflows/shellcheck.yml
Owners: @kubernetes-simulator/simulator

feat(perturb): shellcheck perturb in Docker build
  Dockerfile
  simulation-scripts/perturb.sh
Owners: @s-irvine, @raoulmillas, @pi-unnerup, @jondkent, @kubernetes-simulator/simulator

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo, unless a later match takes precedence.

* @kubernetes-simulator/simulator

# Scenarios
/simulation-scripts/scenario @s-irvine @pi-unnerup @abdullahgarcia

# Terraform
/terraform @s-irvine @raoulmillas @jondkent

# Tools
/tools @raoulmillas @abdullahgarcia

# Attack Container
/attack @raoulmillas @jondkent

# Simulator Binaries
/cmd @raoulmillas @jondkent @abdullahgarcia
/pkg @raoulmillas @jondkent @abdullahgarcia

# kubesim
/kubesim @s-irvine @raoulmillas

# Build Files
/Dockerfile @s-irvine @raoulmillas @pi-unnerup @jondkent
/Jenkinsfile @raoulmillas @jondkent
/Makefile @s-irvine @raoulmillas @pi-unnerup @jondkent
